.edit-btn
{
    border-radius:5px;
    background-color:#518fe0;
    box-shadow:1px 1px 10px black;
    width:100px;
    height:50px;
    margin:20px 20px;
    border:0px;
    color:white;
}

.edit-btn:hover
{
    background-color:#2b62ab;
}

.delete-btn
{
    border-radius:5px;
    background-color:#e03434;
    box-shadow:1px 1px 10px black;
    width:100px;
    height:50px;
    margin:20px 20px;
    border:0px;
    color:white;
}

.delete-btn:hover
{
    background-color:#6d0c0c;
}


label
{
    width:100px;
    margin-bottom:15px;
}

.profile-container
{
    display:inline-block;
    margin-top:10px;
    border:1px solid black;
    padding:10px;
    border-radius:10px;
    margin-bottom:20px;
}